<!DOCTYPE html>
<html>
<head>
	<title>Download Server</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
</head>
<body>
	<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Download Server</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if user}}
       <li role="presentation"><a href="/home"><span class="glyphicon glyphicon-upload"></span> Upload</a></li>
        <li role="presentation"><a href="/users/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li role="presentation"><a href="/users/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {{else}}
        <li role="presentation"><a href="/home"><span class="glyphicon glyphicon-upload"></span> Upload</a></li>
        <!-- <li role="presentation"><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
        {{/if}}
      </ul>
      </div>
  </nav>
  <div class="container">
      <!-- <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
              <li role="presentation"><a href="/">Dashboard</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
              <li role="presentation"><a href="/users/login">Login</a></li>
              <li role="presentation"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">LoginApp</h3>
      </div> -->


      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>

        
      </div>

      <footer class="footer">
        <p align="center">&copy; 2016 Abhinav Thomas.</p>
      </footer>

    </div> <!-- /container -->
</body>
</html>
